@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navlink {
    @apply block py-2 px-3 text-gray-900 rounded hover:text-primary md:p-0 md:dark:hover:text-primary dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
  }

  .active-link {
    @apply text-secondary bg-primary rounded-xl border-x-2 border-primary md:bg-transparent md:text-primary md:px-4 md:dark:text-primary;
  }

  .skills {
    @apply grid md:grid-cols-3 grid-cols-1 content-start bg-secondary md:w-full lg:w-[65%] m-auto p-6 gap-4 md:rounded-none lg:rounded-3xl;
  }

  .skill {
    @apply flex flex-row gap-3 items-center md:justify-center p-6 w-fit min-w-full border-2 border-gray-100 rounded-2xl;

    p {
      @apply text-xl font-semibold;
    }
  }

  .skills-icon {
    @apply w-12 h-12 fill-white p-2 rounded-full;
  }
}

* {
  color: #0c2f3f;
}

.bg-size {
  background-position: center;
  background-size: 450px;
}

/* Add these styles to your CSS file */
.menu-transition {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}

.menu-transition.menu-open {
  opacity: 1;
  transform: translateY(0);
}

.menu-hidden {
  display: none;
}

#navbar-sticky {
  transition: max-height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.4s ease-in-out;
  overflow: hidden;
}

.max-h-0 {
  max-height: 0;
}

.max-h-screen {
  max-height: 100vh;
  /* Adjust as needed */
}

.icon-transition {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.icon-rotate {
  transform: rotate(180deg);
  /* Adjust as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotating {
  display: inline-block;
  /* Required for rotation */
  animation: rotate 10s linear infinite;
  /* Adjust duration as needed */
}